<div class="container-fluid" id="contenedor_padre">
    <div class="row">
        <div class="col-12 container-fluid">
            <div class="row">
                <div class="col-6">
                    <img src="assets/profile_icon.png" class="img-fluid"/>
                </div>
                <div class="col-6">
                    <h4>Perfil de empleado</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 container-fluid">
            <div class="row">
                <div class="col-6">
                    <img src="assets/box_icon.png" class="img-fluid"/>
                </div>
                <div class="col-6">
                    <h4>Información de proveedores</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-12 container-fluid">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/csv_export_icon.png" class="img-fluid"/>
                    </div>
                    <div class="col-6">
                        <h4>Exportar a CSV</h4>
                    </div>
                </div>
                
            </div>
    </div>
</div>