
<table id="anaqueles" class="table table-striped">
    <tr>
        <th scope="col" *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>

    <tr *ngFor="let row of anaqueles | paginate: config">
        <td>{{row.ID}}</td>
        <td>{{row.Anaquel}}</td>
        <td>{{row.Color}}</td>
        <td>{{row.Modelo}}</td>
        <td>{{row['Numeracion 22']}}</td>
        <td>{{row['Numeracion 23']}}</td>
        <td>{{row['Numeracion 24']}}</td>
        <td>{{row['Numeracion 25']}}</td>
        <td>{{row['Numeracion 26']}}</td>
        <td>{{row['Total de pares']}}</td>
    </tr>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>