.row {
    height: 30%;
}

#padre_container {
    height: 100%;
}


.alert {
    background-color: #ff1744;
    color: #000000;


}

p {
    color: #000000;

}

.good {
    background-color: #76ff03;
    color: #000000;

}

.warning {
    background-color: #ffeb3b;
    color: #000000;

}



.col-3 {
    /*background-color: grey;*/
    margin: 2%;
    padding: 0%;
    color: white;
    text-align: center;
}

#div_buscador {
    height: auto;
}