<div class="container-fluid" id="padre_container">
    <div class="row">
        <div class="col-3">
            <p>Anaquel 1</p>
            <p>{{conteo_anaqueles[0]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 2</p>
            <p>{{conteo_anaqueles[1]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 3</p>
            <p>{{conteo_anaqueles[2]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 4</p>
            <p>{{conteo_anaqueles[3]}} pares</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Anaquel 5</p>
            <p>{{conteo_anaqueles[4]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 6</p>
            <p>{{conteo_anaqueles[5]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 7</p>
            <p>{{conteo_anaqueles[6]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 8</p>
            <p>{{conteo_anaqueles[7]}} pares</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Anaquel 9</p>
            <p>{{conteo_anaqueles[8]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 10</p>
            <p>{{conteo_anaqueles[9]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 11</p>
            <p>{{conteo_anaqueles[10]}} pares</p>
        </div>
        <div class="col-3">
            <p>Anaquel 12</p>
            <p>{{conteo_anaqueles[11]}} pares</p>
        </div>
    </div>
</div>